%div.section-link-wrapper.row-fluid.span12
  %div.outer-center
    %div.inner-center
      %a{ :id => 'do-i-know-you', :class => 'section-preview-link', :href=> '#'}
      %a{:id => 'portrait-of-a-band', :class => 'section-preview-link', :href => '#'}
      %a{:id => 'you-are-so-beautiful', :class => 'section-preview-link', :href => '#'}
      %a{:id => 'cog-in-the-machine', :class => 'section-preview-link', :href => '#'}
      %a{:id => 'we-all-love-the-beach', :class => 'section-preview-link', :href => '#'}
      %a{:id => 'where-these-people-goin', :class => 'section-preview-link', :href => '#'}
      %a{:id => 'see-it-all', :class => 'section-preview-link', :href => '#'}
  %div.clear-both

