%div.section-link-wrapper.row-fluid.span12
  %a{ :id => 'do-i-know-you', :class => 'section-preview-link', :href=> '#'}

%div.section-link-wrapper.row-fluid.span12
  %a{:id => 'portrait-of-a-band', :class => 'section-preview-link', :href => '#'}

%div.section-link-wrapper.row-fluid.span12
  %a{:id => 'you-are-so-beautiful', :class => 'section-preview-link', :href => '#'}

%div.section-link-wrapper.row-fluid.span12
  %a{:id => 'cog-in-the-machine', :class => 'section-preview-link', :href => '#'}

%div.section-link-wrapper.row-fluid.span12
  %a{:id => 'we-all-love-the-beach', :class => 'section-preview-link', :href => '#'}

%div.section-link-wrapper.row-fluid.span12
  %a{:id => 'where-these-people-goin', :class => 'section-preview-link', :href => '#'}

%div.section-link-wrapper.row-fluid.span12
  %a{:id => 'see-it-all', :class => 'section-preview-link', :href => '#'}
