//
// Color Palette
//

//
// Basic colors:
//
$marekjulian-magenta: #de3dbf;
$marekjulian-gray: #555555;
$marekjulian-light-gray: #777777;
$text-gray: #707070;
$light-gray: #9c9ea1;

//
// Site colors:
//
$dark-background: #000000;
$dark-gray-background: #2a2a2a;
$nav-gray: $marekjulian-light-gray;
$row-border-color: $marekjulian-light-gray;
$header-bg-color: $dark-background;
$header-border-color: $row-border-color;
$header-text-color: $marekjulian-light-gray;
$content-text-color: $text-gray;
$content-headings-color: $light-gray;
$footer-bg-color: $dark-background;
$footer-border-color: $row-border-color;
$footer-text-color: $marekjulian-light-gray;
$link-color: $marekjulian-light-gray;
$link-hover-color: $marekjulian-magenta;

//
// Fonts
//
$headings-font-family: 'helvetica-neue';

//
// Font sizes
//
$header-font-size: 3em;
$header-auth-font-size: 1.25em;
$form-label-font-size: 1.5em;

//
// Site dimensions:
//
$page-margin-x: 30px;
$page-margin-y: 1em;
$header-content-padding-top: 1em;
$header-content-padding-bottom: 1em;
$header-content-height: $header-font-size;
$header-height: $header-content-height + $header-content-padding-top + $header-content-padding-bottom;
$section-margin-top: $header-height + $page-margin-y;
$footer-height: 75px;
