@import "_mixins";

// Fonts
@include font-face("helvetica-neue", "helvetica-neue-webfont");

@include font-face("agaramondpro-regular", "agaramondpro-regular-webfont");

@include font-face("din", "din-webfont");

@import "_common";
@import "bootstrap";

/*
 * Tell the browser to render HTML 5 elements as block.
 */
header, footer, aside, nav, article, section {
  display: block;
}

/*
 * For the sticky footer.
 */
html, body {
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 100%;
}

body {
  background: $dark-background;

  header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
    height: $header-height;
    z-index: 50;
    background-color: $header-bg-color;
    color: $header-text-color;

    div#header-container {
      display: block;
      margin: 0 $page-margin-x 0 $page-margin-x;
      height: $header-height;

      div#header-content {
        margin: 0px;
        border-bottom: 2px;
        border-bottom-style: solid;
        border-bottom-color: $header-border-color;
        padding: $header-content-padding-top 0px $header-content-padding-bottom 0px;
	height: $header-content-height;
	line-height: $header-content-height;

        span {
	  display: inline-block;
          float: right;
	  vertical-align: middle;
          font-size: $header-font-size;
        }
        span.logo-m {
          color: $marekjulian-magenta;
        }
        span.logo-j {
          color: $marekjulian-gray;
        }
      }
    }
  }

  section {
    display: block;
    margin: $section-margin-top $page-margin-x $page-margin-y $page-margin-x;

    #content {
      margin-left: 0px;
    }
  }

  footer#footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
    height: $footer-height;
    z-index: 50;
    background-color: $footer-bg-color;
    color: $footer-text-color;

    div#footer-container {
      display: block;
      margin: 0 $page-margin-x 0 $page-margin-x;

      div#footer-content {
        margin: 0px 0px 0px 0px;
        border-top: 2px;
        border-top-style: solid;
        border-top-color: $footer-border-color;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 2em;

        span.footer-name-first {
          color: $marekjulian-magenta;
        }
        span.footer-name-last {
          color: $marekjulian-gray;
        }
      }
    }
  }
}
